.venue-info__container {
    border: 1px solid gray;
    border-radius: 8px;

    .venue-info__header {
        cursor: pointer;
        background-color: $F8F8F8;
    }

    .venue-info__body {

        .venue-info__loading {

        }

        .venue-info__data {
    
        }
    }
}
